<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABC Resturent</title>
    <style>
      *,
      body {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
      }

      .maindiv {
        text-align: center;
        padding: 10px;
        margin: 20px;
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center">Welcome to Our Resturent</h1>
    <div class="maindiv">
      <p>Here You Can Enjoy Your Time With your family and Firends</p>
      <a href="{% url 'home' %}">Click Here</a> to Shaw All the Information
      <h1>:)</h1>
    </div>
  </body>
</html>
